@model BookStore.UI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/ErrorStyle.css"/>
</head>
<body>
    <div class="panel">
        <div class="panel-heading">
            <h3>Login Administration</h3>
        </div>
        <div class="panel-body">
            <p class="lead">Please login to access</p>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Username</label>
                    @Html.TextBoxFor(m=>m.username, null, new { @Class="form-control"})
                </div>
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(m => m.password, null, new { @Class = "form-control" })
                </div>

                <input type="submit" class="btn btn-primary" value="Login"/>
            }
        </div>
    </div>

</body>
</html>
